<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 家庭教師検索</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/input.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg.js"></script>
</head>

<body>
<div id="container">
<div id="header">
</div>
<!-- Header //-->

<span class="crumbs"><a href="index.html" target="_self">TOP</a>&nbsp;>&nbsp;<a href="search.html" target="_self">家庭教師検索TOP</a>&nbsp;>&nbsp;<a href="teacher_detail_1.html" target="_self">家庭教師情報</a>&nbsp;>&nbsp;コンタクト送信TOP</a></span>
<div id="main"><!-- Prompt Begin //-->
<!-- Prompt End //-->
<form action="" method="post" class="inputt">
<span class="ititle"></span>
<h2>※は入力必須項目です。</h2>
<table width="950" border="0" cellspacing="0" cellpadding="9" align="center">
  <tr>
    <td width="182" align="right" valign="middle" bgcolor="#FFEEFC"><strong>タイトル</strong><span style="color:#FF0000">※</span></td>
    <td width="445" align="left" valign="middle">あああああああ<br /><span class="little">お問い合わせ内容の簡単な概要をご記入ください</span></td>
    <td width="268" align="left" valign="middle">例）　家庭教師の依頼について</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>都道府県</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">あああああああ</td>
    <td align="left" valign="middle">例）　東京都</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>ご在住地域の概要</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">ああああああああああああああ</td>
    <td align="left" valign="middle">例）総武線小岩駅より徒歩10分程度の場所となります</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>住所</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">あああああああああああああ</td>
    <td align="left" valign="middle">例）　江戸川区本一色1-1-1</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>お名前</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">姓:あああああ　名:ああああ</td>
    <td align="left" valign="middle">鈴木　　花子</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>学校種別</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">あああああ</td>
    <td align="left" valign="middle">例）　小学校</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>学年</strong><span style="color:#FF0000">※</span></td>
    <td align="left" valign="middle">3年生</td>
    <td align="left" valign="middle">例）　2</td>
  </tr>
  <tr>
    <td align="right" valign="middle" bgcolor="#FFEEFC"><strong>教科</strong><span style="color:#FF0000">※</span></td>
    <td colspan="2" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="13%" bgcolor="#DAE4F8">小学校</td>
		<td width="49%">算数</td>
        <td width="38%">例）　算数、国語</td>
      </tr>
      <tr>
        <td bgcolor="#DAE4F8">中学校</td>
        <td>数学</td>
        <td>例）　数学、国語</td>
      </tr>
      <tr>
        <td bgcolor="#DAE4F8">高校</td>
        <td>理科</td>
        <td>例）　数学、国語、日本史</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>開始希望時期</strong></td>
    <td align="left" valign="middle">2012/2/10</td>
    <td align="left" valign="middle">例）　2010/5/5</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>終了予定時期</strong></td>
    <td align="left" valign="middle">2012/2/12</td>
    <td align="left" valign="middle">例）　2010/10/15</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>指導曜日</strong></td>
    <td align="left" valign="middle">土曜日、日曜日/td>
    <td align="left" valign="middle">例）　火曜日</td>
  </tr>
  <tr>
    <td height="58" align="right" valign="middle" bgcolor="#FFEEFC"><strong>一回あたりの指導時間</strong></td>
    <td align="left" valign="middle">2時間</td>
    <td align="left" valign="middle">例）　3時間</td>
  </tr>
  <tr>
    <td align="right" valign="middle" bgcolor="#FFEEFC"><strong>その他<br />
    質問内容</strong></td>
    <td align="left" valign="middle">中間テスト対策です</td>
    <td align="left" valign="middle">例）<br />
    小学生と中学生の息子に同時に教えていただ<br />くことは可能でしょうか？</td>
  </tr>
</table>
<div style="width:100%; margin-top:30px;">
    <a href="#" target="_self"><img src="images/btn_input_prev.gif" alt="前に戻る" width="226" height="50" border="0" /></a>
    <span style="margin-left:80px;"></span>
    <a href="#" target="_self"><img src="images/btn_input_next.gif" alt="次へ進む" width="226" height="50" border="0" /></a>    </td>
</div>
</form>
<!-- Input //-->

</div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
