<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 家庭教師探し</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/search.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg.js"></script>
</head>

<body>
<div id="container">
<div id="header">
</div>
<!-- Header //-->

<span class="crumbs"><a href="index.html" target="_self">TOP</a>&nbsp;>&nbsp;家庭教師検索TOP</span>
<div id="main">
<span class="introtitle"><img src="images/titles/search_title.jpg" alt="家庭教師検索" width="950" height="47" /></span>
<h1>ご希望される家庭教師の条件を入力し、検索開始ボタンをクリックしてください。</h1>
<div class="search">
<form action="search_list.html" method="post" id="search_form" class="sform">
<dl>
<dd><span class="space"><strong>都道府県：</strong></span><select id="" name=""><option value="">texttext</option></select></dd>
<dd><strong>名門大学サーチ：</strong><img src="images/btn_search_detail.gif" width="114" height="19" align="absbottom" />&nbsp;<span style="color:#FF9900">OFFの場合は全大学が検索対象になります。</span><br /><input type="radio" name="name1" value="0" />&nbsp;NO&nbsp;&nbsp;<input type="radio" name="name1" value="1" checked="checked" />&nbsp;OFF<br /><div style="margin:5px 0px 5px 0px"><img src="images/search_dotling.gif" /></div>
<span style="color:#FF9900">ご希望される家庭教師の在籍・出身大学グループをご選択ください。</span>
<table width="582" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="33%" align="left" valign="top"><input type="checkbox" />&nbsp;東大京大<br />
      <input type="checkbox" />&nbsp;関東有名私立大学<br /><input type="checkbox" />&nbsp;関西有名私立大学</td>
    <td width="33%" align="left" valign="top"><input type="checkbox" />&nbsp;早稲田慶応<br />
      <input type="checkbox" />&nbsp;関東有名国立大学<br /><input type="checkbox" />&nbsp;関西有名国立大学</td>
    <td width="33%" align="left" valign="top"><input type="checkbox" />&nbsp;旧帝国大学</td>
  </tr>
</table>
</dd>
<dd>
<strong>指導希望教科 ：</strong><span style="color:#FF9900">複数選択可能です</span>
<p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle"><img src="images/icon/pschool.gif" width="80" height="20" /></td>
    <td width="1" rowspan="2" align="center" valign="middle"><img src="images/icon/line.gif" width="1" height="150" /></td>
    <td align="center" valign="middle"><img src="images/icon/mschool.gif" width="80" height="20" /></td>
    <td width="1" rowspan="2" align="center" valign="middle"><img src="images/icon/line.gif" width="1" height="150" /></td>
    <td align="center" valign="middle"><img src="images/icon/hschool.gif" width="80" height="20" /></td>
  </tr>
  <tr>
    <td align="center"><div style="text-align:left; width:60%; margin:0 auto;"><input type="checkbox" />&nbsp;算数&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;英語<br /><input type="checkbox" />&nbsp;国語<br /><input type="checkbox" />&nbsp;理科<br /><input type="checkbox" />&nbsp;社会</div></td>
    <td align="center"><div style="text-align:left; width:60%; margin:0 auto;"><input type="checkbox" />&nbsp;数学&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;英語<br /><input type="checkbox" />&nbsp;国語<br /><input type="checkbox" />&nbsp;理科<br /><input type="checkbox" />&nbsp;社会</div></td>
    <td align="center"><div style="text-align:left; width:60%; margin:0 auto;"><input type="checkbox" />&nbsp;数学&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;化学<br /><input type="checkbox" />&nbsp;国語&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;生物<br /><input type="checkbox" />&nbsp;英語&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;日本史<br /><input type="checkbox" />&nbsp;物理&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;世界史<br /></div></td>
  </tr>
</table>
</p>
</dd>
<dd><span class="space"><strong>希望時給：</strong></span><select id="" name=""><option value="">texttext</option></select></dd>
<dd><strong>性别：</strong><br /><input type="radio" name="gender" value="1" checked="checked" />&nbsp;男&nbsp;&nbsp;<input type="radio" name="gender" value="0" />&nbsp;女</dd>
<dd><strong>経験年数：</strong><br /><input type="radio" name="year" value="1" checked="checked" />&nbsp;不問&nbsp;&nbsp;<input type="radio" name="year" value="0" />&nbsp;1年～&nbsp;&nbsp;<input type="radio" name="year" value="1" />&nbsp;2年～&nbsp;&nbsp;<input type="radio" name="year" value="1" />&nbsp;3年以上</dd>
<dd><strong>受験指導経験：</strong><br /><input type="checkbox" name="grade" value="1" />&nbsp;中学受験&nbsp;&nbsp;<input type="checkbox" name="grade" value="0" />&nbsp;高校受験<input type="checkbox" name="grade" value="1" />&nbsp;大学受験</dd>
<dd class="lastdd"><strong>スポット対応：</strong><span style="color:#FF9900">1ヶ月以下の短期契約のことになります</span><br /><input type="radio" name="ishope" value="0" checked="checked" />&nbsp;不問&nbsp;&nbsp;<input type="radio" name="ishope" value="1" />&nbsp;希望する</dd>
</dl>
<p><input type="image" src="images/btn_index_search.gif" onclick="submit()" align="middle" /><input type="hidden" name="submitted" value="submitted" /></p>
</form>
</div>


</div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
