<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 家庭教師探し</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/search.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg.js"></script>
</head>

<body>
<div id="container">
<div id="header">
</div>
<!-- Header //-->

<span class="crumbs"><a href="index.html" target="_self">TOP</a>&nbsp;>&nbsp;<a href="search.html" target="_self">家庭教師検索TOP</a>&nbsp;>&nbsp;検索結果</span>
<div id="main">
<span class="search_list_title">
<a href="search.html" target="_self"><img src="images/btn_search_list.gif" width="136" height="32" /></a>
</span>
<div style="margin-top:15px;">100人の家庭教師がヒットしました</div>
<p>
<table width="950" border="0" cellpadding="9" cellspacing="1" class="search_list_table">
  <tr class="tb_title">
    <td width="15" align="center" valign="middle">#</td>
    <td width="74" align="center" valign="middle">都道府県</td>
    <td width="38" align="center" valign="middle">氏名</td>
    <td width="38" align="center" valign="middle">性別</td>
    <td width="38" align="center" valign="middle">年齢</td>
    <td width="105" align="center" valign="middle">大学名</td>
    <td width="72" align="center" valign="middle">希望時給</td>
    <td width="72" align="center" valign="middle">経験年数</td>
    <td width="72" align="center" valign="middle">中学受験</td>
    <td width="72" align="center" valign="middle">高校受験</td>
    <td width="72" align="center" valign="middle">大学受験</td>
    <td width="53" align="center" valign="middle">詳細</td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
  <tr onmouseover="this.style.backgroundColor='#EEEEEE'" onmouseout="this.style.backgroundColor='#FFFFFF'">
    <td align="center" valign="middle">1</td>
    <td align="center" valign="middle">東京都</td>
    <td align="center" valign="middle">S&nbsp;H</td>
    <td align="center" valign="middle">男</td>
    <td align="center" valign="middle">23</td>
    <td align="center" valign="middle">早稲田大学</td>
    <td align="center" valign="middle">2500円</td>
    <td align="center" valign="middle">2年</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle">×</td>
    <td align="center" valign="middle">○</td>
    <td align="center" valign="middle"><a href="teacher_detail.html" target="_self"><img src="images/btn_pink_detal.jpg" width="48" height="19" border="0" /></a></td>
  </tr>
</table>
</p>

<p class="page">
<strong>1件～30件（全866件 1/29）</strong><br />
<span class="first"><a href="#" target="_self">最初へ</a></span>
<span class="prev"><a href="#" target="_self">前へ</a></span>
<span class="pages"><strong>[1]</strong>&nbsp;<a href="#" target="_self">[2]</a>&nbsp;<a href="#" target="_self">[3]</a>&nbsp;<a href="#" target="_self">[4]</a>&nbsp;<a href="#" target="_self">[5]</a></span>
<span class="next"><a href="#" target="_self">次へ</a></span>
<span class="last"><a href="#" target="_self">最後へ</a></span>
</p>

</div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
