<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 無料会員登録</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/register.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg.js"></script>
</head>

<body>
<div id="container">
<div id="header">
<span class="tutro_log"><img src="images/tutor_logo.jpg" width="266" height="58" alt="Direct Teachers" class="logo" />
<span class="ad"><img src="images/ad/tutor_google.jpg" width="482" height="67" /></span>
</span>
</div>
<!-- Header //-->

<span class="crumbs"><a href="index.html" target="_self">TOP</a>&nbsp;>&nbsp;送信完了</span>
<div id="main">
<div class="register">
<div class="step3">
家庭教師登録が完了しました<br />
<a href="index.html" target="_self"><img src="images/btn_register_returntop.gif" width="226" height="50" border="0" style="margin-top:90px" /></a></div>

</div>
<!-- Register //-->

</div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
