<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 家庭教師探し</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/tutor_index.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg_tutor.js"></script>
<script src="scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>
<div id="container">
<div id="header">
<span class="tutro_log"><img src="images/tutor_logo.jpg" width="266" height="58" alt="Direct Teachers" class="logo" />
<span class="ad"><img src="images/ad/tutor_google.jpg" width="482" height="67" /></span>
</span>
<a href="#" target="_self"><h1 class="voice" style="text-align:right; text-decoration:underline;">家庭教師をお探しの方はこちらから</h1></a>
<span class="banner">
<img src="images/banner/tutor_index.jpg" width="950" height="301" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="647,226,951,288" href="register_rule.html" target="_self" />
</map>
</span>
</div>
<!-- Header //-->


<div id="main">
<a href="register_rule.html" target="_self">
<div class="part" style="margin-right:9px; cursor:pointer" onmouseover="this.style.background='#EBEBEB';" onmouseout="this.style.background='#FFFFFF';">
<span class="top">家庭教師登録<br /><span class="text">Registration</span></span>
<span class="middle">一分で終わる家庭教師登録は<br />こちらから</span>
<span class="bottom"><img src="images/banner/tutor_index_1.jpg" width="296" height="90" /></span>
</div>
</a>
<a href="tutor_contract.html" target="_self">
<div class="part" style="margin-right:9px; cursor:pointer" onmouseover="this.style.background='#EBEBEB';" onmouseout="this.style.background='#FFFFFF';">
<span class="top">契約までの流れ<br /><span class="text">How to contract</span></span>
<span class="middle">お客様と個人契約を行っていただく際の<br />流れについてはこちらから</span>
<span class="bottom"><img src="images/banner/tutor_index_2.jpg" width="296" height="90" /></span>
</div>
</a>
<a href="register_rule.html" target="_self">
<div class="part" style="cursor:pointer" onmouseover="this.style.background='#EBEBEB';" onmouseout="this.style.background='#FFFFFF';">
<span class="top">報酬について<br /><span class="text">About the fee</span></span>
<span class="middle">個人家庭教師契約の報酬<br />についてはこちらから</span>
<span class="bottom"><img src="images/banner/tutor_index_3.jpg" width="296" height="90" /></span>
</div>
</a>
</div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
