<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="">
<meta name="keywords" content="">

<title>Direct teachers | 家庭教師探し</title>
<link href="styles/common.css" rel="stylesheet" type="text/css">
<link href="styles/tutor_register.css" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="scripts/swapImg_tutor.js"></script>
<script src="scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>
<div id="container">
<div id="header">
<span class="tutro_log"><img src="images/tutor_logo.jpg" width="266" height="58" alt="Direct Teachers" class="logo" />
<span class="ad"><img src="images/ad/tutor_google.jpg" width="482" height="67" /></span>
</span>
</div>
<!-- Header //-->

<span class="crumbs"><a href="tutor_index.html" target="_self">TOP</a>&nbsp;>&nbsp;家庭教師登録</span>

<div id="main">
<h2>あなたの情報を入力してください<br />※は必須項目になります。</h2>

<table width="950" border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">生年月日<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><select></select>&nbsp;年&nbsp;&nbsp;&nbsp;<select></select>&nbsp;月&nbsp;&nbsp;&nbsp;<select></select>&nbsp;日</td>
    <td height="60" align="left" valign="middle">例）1985年6月5日</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">大学名<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><input type="text" size="50" />&nbsp;&nbsp;<input type="image" src="images/select.jpg" align="top" width="48" height="21" /></td>
    <td height="60" align="left" valign="middle">例）　早稲田大学</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">学部名<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><input type="text" size="50" />&nbsp;</td>
    <td height="60" align="left" valign="middle">例）　政治経済学部</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">入学年度<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><input type="text" size="6" />&nbsp;年</td>
    <td height="60" align="left" valign="middle">例）　2009年</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">在籍状況<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><input type="radio" checked="checked" />&nbsp;学部在学中&nbsp;&nbsp;&nbsp;<input type="radio" />&nbsp;大学院在学中&nbsp;&nbsp;&nbsp;<input type="radio" />&nbsp;学部卒&nbsp;&nbsp;&nbsp;<input type="radio" />&nbsp;大学院卒</td>
    <td height="60" align="left" valign="middle">例）　小学校</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">希望時給<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><input type="text" size="6" />&nbsp;円</td>
    <td height="60" align="left" valign="middle">例）　2000円</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">居住都道府県<span style="color:#FF0000">※</span></td>
    <td height="60" align="left" valign="middle"><select><option value="       "></option></select></td>
    <td height="60" align="left" valign="middle">例）　東京都</td>
  </tr>
  <tr>
    <td height="170" align="right" valign="middle" bgcolor="#FFEEFC">指導可能地域<span style="color:#FF0000">※</span><br />
    <span style="color:#FF9900">東京23区内など訪問可能な<br />地区を入力してください。</span></td>
    <td height="170" align="left" valign="middle"><textarea cols="50" rows="6"></textarea></td>
    <td height="170" align="left" valign="middle">例）　東京23区内<br />
    例）　大田区、目黒区、渋谷</td>
  </tr>
  <tr>
    <td height="150" colspan="3" align="left" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="287" rowspan="3" align="right" valign="middle" bgcolor="#FFEEFC">指導可能教科<span style="color:#FF0000">※</span><br />
          <span style="color:#FF9900">複数チェックできます。</span></td>
        <td width="76" height="50" align="center" valign="middle" bgcolor="#E1EBFF">小学生</td>
        <td width="377" height="50" align="left" valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;算数
          <input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;国語<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;理科<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;社会<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;英語<input type="checkbox" /></td>
        <td width="209" height="50">例）　算数、理科</td>
      </tr>
      <tr>
        <td height="50" align="center" valign="middle" bgcolor="#E1EBFF">中学生</td>
        <td height="50">&nbsp;&nbsp;&nbsp;&nbsp;数学
          <input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;国語<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;英語<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;理科<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;社会<input type="checkbox" /></td>
        <td height="50">例）　数学、英語</td>
      </tr>
      <tr>
        <td height="50" align="center" valign="middle" bgcolor="#E1EBFF">高校生</td>
        <td height="50">&nbsp;&nbsp;&nbsp;&nbsp;数学
          <input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;国語<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;英語<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;物理<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;化学<input type="checkbox" /><br />&nbsp;&nbsp;&nbsp;&nbsp;地理&nbsp;<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;日本史<input type="checkbox" />&nbsp;&nbsp;&nbsp;&nbsp;世界史<input type="checkbox" /></td>
        <td height="50">例）　数学、日本史</td>
      </tr>
    </table>  </td>
  </tr>
  <tr>
    <td height="70" align="right" valign="middle" bgcolor="#FFEEFC">受験指導可能教科<span style="color:#FF0000">※</span><br /><span style="color:#FF9900">複数チェックできます。</span></td>
    <td height="70" align="left" valign="middle"><input type="checkbox" />&nbsp;中学受験&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;高校受験&nbsp;&nbsp;&nbsp;<input type="checkbox" />&nbsp;大学受験</td>
    <td height="70" align="left" valign="middle">例）　大学受験</td>
  </tr>
  <tr>
    <td height="80" align="right" valign="middle" bgcolor="#FFEEFC">一ヶ月未満のスポット対応<span style="color:#FF0000">※</span><br /><span style="color:#FF9900">中間・期末対策などのことです。</span></td>
    <td height="80" align="left" valign="middle"><input type="radio" />&nbsp;対応可能&nbsp;&nbsp;&nbsp;<input type="radio" checked="checked" />&nbsp;対応不可</td>
    <td height="80" align="left" valign="middle">例）　対応可能</td>
  </tr>
  <tr>
    <td height="60" align="right" valign="middle" bgcolor="#FFEEFC">合格実績<span style="color:#FF0000">※</span><br /><span style="color:#FF9900">過去の合格実績を記入してください。</span></td>
    <td height="60" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="30" align="center" valign="middle" bgcolor="#F2F2F2">中学受験</td>
      </tr>
      <tr>
        <td height="50">合格校１&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校2&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校3&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle" bgcolor="#F2F2F2">高校受験</td>
      </tr>
      <tr>
        <td height="50">合格校１&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校2&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校3&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle" bgcolor="#F2F2F2">大学受験</td>
      </tr>
      <tr>
        <td height="50">合格校１&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校2&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
      <tr>
        <td height="50">合格校3&nbsp;&nbsp;&nbsp;<input type="text" size="50" /></td>
      </tr>
    </table></td>
    <td height="60" align="left" valign="middle">例）　<br />私立ダイレクト中学校<br />私立ダイレクト高校<br />私立ダイレクト大学</td>
  </tr>
  <tr>
    <td height="200" align="right" valign="middle" bgcolor="#FFEEFC"><span style="color:#FF0000">※</span>自己アピール（200文字以内）<br /><span style="color:#FF9900">サイト上に公開されるので電話番号や本名<br />などの個人情報は記載しないでください。</span></td>
    <td height="200" align="left" valign="middle"><textarea name="textarea" cols="50" rows="7"></textarea></td>
    <td height="200" align="left" valign="middle">例）<br />今まで3人の学生を指導し、全員希望する学校に合格させた実績が亜ります。</td>
  </tr>
</table>
<span class="btn_step"><a href="#" target="_self"><img src="images/btn_tutor_register_prev.gif" width="226" height="50" border="0" style="margin-right:110px;" /></a><a href="#" target="_self"><img src="images/btn_tutor_register_next.gif" width="226" height="50" border="0" /></a></span></div>
<!-- Main //-->


<div id="footer">
<ul>
<li><a href="#" target="_self">利用規約</a></li>
<li>|</li>
<li><a href="#" target="_self">お問い合わせ</a></li>
<li>|</li>
<li><a href="#" target="_self">会社案内</a></li>
</ul>
<br class="clear" />
<span class="cr">Copyright (C) 2010 DirectTeachers All Rights Reserved</span>
</div>
<!-- Footer //-->


</div>
<!-- Container //-->

</body>
</html>
