<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Select</title>

<style type="text/css">
<!--
body {
	font-size:12px;
}

dt,dd {
	float:left;
	margin:0;
	padding:0px 0px 0px 10px;
}

dt {
	width:100%;
}

dd {
	margin-bottom:15px;
}

-->
</style>
</head>

<body>
<center>
<div style="width:987px; height:540px; background:url(images/bg_university.jpg) no-repeat; padding-top:8px;">
<div style="width:971px; height:533px; background:#FFFFFF">
<span style="display:block; width:100%; padding:10px 0px 0px 6px; font-size:14px; font-weight:bold; text-align:left;">大学名をクリックしてください<img src="images/btn_close.jpg" align="right" style="margin-right:20px; cursor:pointer" onclick="window.close()" /></span>
<br clear="all" />
<span style="display:block; width:472px; float:left; text-align:left; border-right:#CCCCCC dashed 1px;">
<span style="display:block; width:100%; padding:0px 0px 0px 6px; font-size:14px; color:#62C0FF; font-weight:bold; text-align:left;">私立大学</span>
<dl>
<dt>あ行</dt>
<br clear="all" />
<dd><input type="radio" name="1" value="" />青山学院大学</dd>

<dt>か行</dt>
<br clear="all" />
<dd><input type="radio" name="2" value="" />学習院大学</dd>
<dd><input type="radio" name="2" value="" />関西大学</dd>
<dd><input type="radio" name="2" value="" />関西学院大学</dd>
<dd><input type="radio" name="2" value="" />慶応大学</dd>

<dt>さ行</dt>
<br clear="all" />
<dd><input type="radio" name="3" value="" />上智大学</dd>
<dd><input type="radio" name="3" value="" />西南学院大学</dd>

<dt>た行</dt>
<br clear="all" />
<dd><input type="radio" name="4" value="" />中央大学</dd>
<dd><input type="radio" name="4" value="" />東京理科大学</dd>
<dd><input type="radio" name="4" value="" />同志社大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="5" value="" />法政大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="6" value="" />立教大学</dd>
<dd><input type="radio" name="6" value="" />立命館大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="7" value="" />早稲田大学</dd>

<dt>その他</dt>
<br clear="all" />
<dd><input type="radio" name="8" value="" />その他私立大学</dd>

</dl>
</span>

<!--- Right -->

<span style="display:block; width:472px; float:left; text-align:left; margin-left:5px;">
<span style="display:block; width:100%; padding:0px 0px 0px 6px; font-size:14px; color:#62C0FF; font-weight:bold; text-align:left;">国公立大学</span>
<dl>
<dt>あ行</dt>
<br clear="all" />
<dd><input type="radio" name="9" value="" />大阪大学</dd>
<dd><input type="radio" name="9" value="" />大阪市立大学</dd>

<dt>か行</dt>
<br clear="all" />
<dd><input type="radio" name="10" value="" />九州大学</dd>
<dd><input type="radio" name="10" value="" />京都大学</dd>
<dd><input type="radio" name="10" value="" />神戸大学</dd>

<dt>さ行</dt>
<br clear="all" />
<dd><input type="radio" name="11" value="" />首都大学東京</dd>

<dt>た行</dt>
<br clear="all" />
<dd><input type="radio" name="12" value="" />東京大学</dd>
<dd><input type="radio" name="12" value="" />東京外国語大学</dd>
<dd><input type="radio" name="12" value="" />東京工業大学</dd>
<dd><input type="radio" name="12" value="" />東北大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="13" value="" />名古屋大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="14" value="" />一橋大学</dd>
<dd><input type="radio" name="14" value="" />北海道大学</dd>
<dd><input type="radio" name="14" value="" />横浜国立大学</dd>

<dt>は行</dt>
<br clear="all" />
<dd><input type="radio" name="15" value="" />横浜国立大学</dd>

<dt>その他</dt>
<br clear="all" />
<dd><input type="radio" name="16" value="" />その他国公立大学</dd>

</dl>
</span>




<!-- Right -->



</div>
</div>
</center>
</body>
</html>
