@charset "utf-8";

/************ The Basic Style Case For WebSite Start ************/

.teacher_detail_title {
	display:table-cell;
	width:950px;
	height:47px;
	background:url(../images/titles/teacher_detail.jpg) no-repeat left top;
	text-align:right;
	overflow:hidden;
	position:relative;
	vertical-align:middle;
}

.teacher_detail_title img {
	position:static;
	+position:relative;
	top:-50%;left:-50%;
	margin-right:12px;
}
  
.prompt {
	width:950px;
	clear:both;
	margin-top:18px;
}

.prompt h1 {
	width:480px;
	font-size:16px;
	font-weight:bold;
	float:left;
}

.prompt img {
	width:417px;
	height:58px;
	float:right;
}

.options {
	width:950px;
	height:32px;
	float:left;
	margin-top:10px;
}

.options ul {
	list-style:none;
	margin:0;
	padding:0;
}

.options ul li {
	float:left;
	width:110px;
	height:26px;
	height:23px\0;
	background:#EEEEEE;
	border-top:#D6D6D6 solid 1px;
	border-left:#D6D6D6 solid 1px;
	border-right:#D6D6D6 solid 1px;
	margin-left:18px;
	padding-top:6px;
	padding-top:9px\0;
	text-align:center;
}

.options ul .checked {
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/teacher_detail_option_bg.jpg) repeat-x;
}

.options .google_ad {
	display:block;
	width:470px;
	float:right;
}

.options a:visited{
	color:#333333;
	text-decoration:none;
}

.options a:link{
	color:#333333;
	text-decoration:none;
}

.options a:hover{
	color:#333333;
	text-decoration:underline;
}

#main .teacher {
	display:block;
	width:948px;
	border:#CCCCCC solid 1px;
	background:url(../images/search_bg.jpg) repeat-x;
	float:left;
}

#main .teacher dl {
	margin:0;
	padding:0;
	width:906px;
}

#main .teacher dl dd {
	margin:0px 0px 0px 35px;
	padding: 12px 0px 14px 4px;
	border-bottom:#666666 solid 1px;
}

#main .teacher dl .lastdd {
	margin:0px 0px 0px 35px;
	padding: 12px 0px 14px 4px;
	border-bottom:none;
}

#main .teacher p {
	text-align:center;
	width:100%;
}

#main .search_list_table {
	background:#F5BAD4;
	margin-bottom:12px;
}

#main .search_list_table tr {
	background:#FFFFFF;
}

#main .search_list_table .tb_title {
	background:#EE87B4;
	color:#FFFFFF;
	font-weight:bold;
}

#main .page {
	width:1000px;
	text-align:center;
}

#main .page span {
	display:inline;
	margin-right:10px;
}